@use "../config";
@use "sass:meta";
@use "sass:list";

@function join($parts...) {
  $result: "";
  @each $part in $parts {
    @if ($result == "" and $part != "") {
      $result: $part;
    } @else if($part != "") {
      $result: $result + config.$separator + $part;
    }
  }
  @return $result;
}

@function prefix($parts...) {
  @return join(config.$prefix, $parts...);
}

@function property($parts...) {
  $result: "--" + prefix($parts...);
  @return $result;
}

@function var($parts...) {
  @return "var(" + property($parts...) + ")";
}

@function dvar($parts, $default) {
  @return "var(" + property($parts...) + ", " + $default + ")";
}

@function palette-var($color, $weight: "") {
  @return var("palette", $color, $weight);
}

@function cascade-dvar($suffix, $keys, $bp-index, $base) {
  $result: $base;
  @for $j from 1 through $bp-index {
    $key: list.nth($keys, $j);
    $p: list.append($suffix, $key);
    $result: dvar($p, $result);
  }
  @return $result;
}
