$prefix: "t" !default;
$separator: "-" !default;
$modes: () !default;
$extensions: (
  "classes": (),
  "variables": ()
) !default;

// ------------------------------------------------------------
// ROOT PROPERTIES
// ------------------------------------------------------------
// Breakpoints
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "2xl": 1536px,
) !default;

// Border
$border-width: 1px !default;
$border: (
  "width": $border-width,
) !default;

// Transition
$transition-duration: 0.25s !default;
$transition: (
  "duration": $transition-duration,
) !default;

// Spacing
$spacing-x: 0.25rem !default;
$spacing-y: 0.25rem !default;
$spacing: (
  "x": $spacing-x,
  "y": $spacing-y,
) !default;

// Safe area
$safe-area-top: "env(safe-area-inset-top)" !default;
$safe-area-right: "env(safe-area-inset-right)" !default;
$safe-area-bottom: "env(safe-area-inset-bottom)" !default;
$safe-area-left: "env(safe-area-inset-left)" !default;
$safe-area: (
  "top": $safe-area-top,
  "right": $safe-area-right,
  "bottom": $safe-area-bottom,
  "left": $safe-area-left,
) !default;

// Viewport
$viewport-width: 100vw !default;
$viewport-height: 100vh !default;
$viewport-max-width: 100vw !default;
$viewport-max-height: 100vh !default;
$viewport: (
  "width": $viewport-width,
  "height": $viewport-height,
  "max-width": $viewport-max-width,
  "max-height": $viewport-max-height,
) !default;

// Overlay
$overlay-max-width: 300px !default;
$overlay-max-height: 300px !default;
$overlay: (
  "max-width": $overlay-max-width,
  "max-height": $overlay-max-height,
) !default;


// Properties
$base: (
  "overlay": $overlay,
  "breakpoints": $breakpoints,
  "transition": $transition,
  "border": $border,
  "spacing": $spacing,
  "safe-area": $safe-area,
  "viewport": $viewport,
) !default;
