// Custome property shapes
$shape-flat-border-radius: 0rem !default;
$shape-rounded-border-radius: 0.5rem !default;
$shape-pill-border-radius: 2rem !default;
$shapes: (
  "flat": (
    "border-radius": $shape-flat-border-radius,
  ),
  "rounded": (
    "border-radius": $shape-rounded-border-radius,
  ),
  "pill": (
    "border-radius": $shape-pill-border-radius,
  ),
) !default;
