// Sizes
$size-small-control-block-size: 1.5rem !default;
$size-small-control-mark-size: 0.75rem !default;
$size-small-font-size: 0.8em !default;
$size-small-line-height: 1.5 !default;
$size-small-coefficient-x: 2 !default;
$size-small-coefficient-y: 1 !default;

$size-standard-control-block-size: 2rem !default;
$size-standard-control-mark-size: 1rem !default;
$size-standard-font-size: 1em !default;
$size-standard-line-height: 1.5 !default;
$size-standard-coefficient-x: 3 !default;
$size-standard-coefficient-y: 2 !default;

$size-large-control-block-size: 2.5rem !default;
$size-large-control-mark-size: 1.1rem !default;
$size-large-font-size: 1.2em !default;
$size-large-line-height: 1.5 !default;
$size-large-coefficient-x: 4 !default;
$size-large-coefficient-y: 3 !default;

$sizes: (
  "small": (
    "control-block-size": $size-small-control-block-size,
    "control-mark-size": $size-small-control-mark-size,
    "font-size": $size-small-font-size,
    "line-height": $size-small-line-height,
    "coefficient-x": $size-small-coefficient-x,
    "coefficient-y": $size-small-coefficient-y
  ),
  "standard": (
    "control-block-size": $size-standard-control-block-size,
    "control-mark-size": $size-standard-control-mark-size,
    "font-size": $size-standard-font-size,
    "line-height": $size-standard-line-height,
    "coefficient-x": $size-standard-coefficient-x,
    "coefficient-y": $size-standard-coefficient-y
  ),
  "large": (
    "control-block-size": $size-large-control-block-size,
    "control-mark-size": $size-large-control-mark-size,
    "font-size": $size-large-font-size,
    "line-height": $size-large-line-height,
    "coefficient-x": $size-large-coefficient-x,
    "coefficient-y": $size-large-coefficient-y
  ),
) !default;
