@use "sass:list";
@use "../../config";
@use "../../mixins";
@use "../../functions/naming";

// layer -> role -> variant -> property -> state
@mixin modes($ls, $attributes: ()) {
  // Render
  @if (list.length($attributes) == 2) {
    $selector: "";

    // Layer
    @if (list.nth($attributes, 1) != "") {
      $value: list.nth($attributes, 1);
      $cls: naming.prefix("layer", $value);
      $selector: "#{$selector}.#{$cls}";
    }

    // Role
    @if (list.nth($attributes, 2) != "") {
      $value: list.nth($attributes, 2);
      $cls: naming.prefix("role", $value);
      $selector: "#{$selector}.#{$cls}";
    }

    #{$selector} {
      @include mixins.nested(
        (
          list.nth($attributes, 1): $ls,
        )
      );
    }
  } @else {
    @each $key, $data in $ls {
      $n: list.append($attributes, $key);
      @include modes($data, $n);
    }
  }
}

@mixin generate() {
  $modes: config.$modes;

  @each $mode, $value in $modes {
    $modeCls: naming.prefix("mode", $mode);
  
    .#{$modeCls} {
      @include modes($value);
    }
  }
}
