@use "../../mixins";
@use "../../functions/naming";
@use "../../config";
@use "sass:map";

// modes
@mixin generate() {
  @each $key, $value in config.$modes {
    $modeCls: naming.prefix("mode", $key);
  
    .#{$modeCls} {
      $layer: "." + naming.prefix("layer", $key);

      // Property for shapes
      @if (map.has-key($value, "shapes")) {
        $shapes: map.get($value, "shapes");
        @include mixins.cls("shape", $shapes, $layer);
      }

      // Property for sizes
      @if (map.has-key($value, "sizes")) {
        $sizes: map.get($value, "sizes");
        @include mixins.cls("size", $sizes, $layer);
      }

      // Property for root
      @if (map.has-key($value, "root")) {
        $root: map.get($value, "root");
        @include mixins.cls("layer", (
          $key: $root,
        ));
      }

      // Property for roles
      @if (map.has-key($value, "roles")) {
        $roles: map.get($value, "roles");
        @include mixins.cls("role", $roles, $layer);
      }
    }
  }
}
