@use "../../mixins";
@use "../../config";
@use "../../functions/color";

// Build token
@mixin tokens() {
  $border: config.$border;
  $spacing: config.$spacing;
  $viewport: config.$viewport;
  $overlay: config.$overlay;
  $breakpoints: config.$breakpoints;
  $transition: config.$transition;

  // Classes
  @include mixins.cls("direction", config.$directions);
  @include mixins.cls("shape", config.$shapes);
  @include mixins.cls("size", config.$sizes);

  @include mixins.nested(
    (
      "safe-area": (
        "top": "env(safe-area-inset-top)",
        "right": "env(safe-area-inset-right)",
        "bottom": "env(safe-area-inset-bottom)",
        "left": "env(safe-area-inset-left)",
      ),
      "spacing": $spacing,
      "viewport": $viewport,
      "overlay": $overlay,
      "breakpoint": $breakpoints,
      "transition": $transition,
      "border": $border,
    )
  );
}

@mixin generate() {
  $palette: color.palette(config.$roles);

  :root {
    --prefix: #{config.$prefix};
    --separator: #{config.$separator};
    @include tokens();
    @include mixins.palette($palette);
  }
}
