@use "../functions/naming";
@use "../functions/color";
@use "../config";
@use "sass:math";
@use "sass:list";
@use "sass:meta";

// Include palette
@mixin palette($colors, $loop: 17, $step: 50) {
  @each $n, $c in $colors {
    $n: naming.property("palette", $n);
    #{$n}: #{$c};
  }
}

// Include tokens
@mixin tokens($ls, $prefix: ()) {
  @each $name, $value in $ls {
    $p: list.append($prefix, $name);

    // Case is map
    @if (meta.type-of($value) == "map") {
      @include tokens($value, $p);
    }
    // Case is color
    @else if (meta.type-of($value) == "list") {
      $property: naming.property($p...);
      #{$property}: naming.palette-var(list.nth($value, 1), list.nth($value, 2));
    }
    // Case is string
    @else {
      $property: naming.property($p...);
      #{$property}: #{$value};
    }
  }
}
