@use "../functions/naming";
@use "../functions/color";
@use "../config";
@use "sass:math";
@use "sass:list";
@use "sass:meta";

// Include palette
@mixin palette($colors) {
  @each $n, $c in $colors {
    $var-name: naming.property("palette", $n);
    #{$var-name}: #{$c};
  }
}

// Include tokens
@mixin nested($ls, $prefix: ()) {
  @each $name, $value in $ls {
    $p: list.append($prefix, $name);

    // Case is map
    @if (meta.type-of($value) == "map") {
      @include nested($value, $p);
    }
    // Case is color
    @else if (meta.type-of($value) == "list") {
      $property: naming.property($p...);
      $color: naming.palette-var(list.nth($value, 1), list.nth($value, 2));
      @if (list.length($value) == 3) {
        $color: $color + ", " + list.nth($value, 3);
      }
      #{$property}: #{$color};
    }
    // Case is string
    @else {
      $property: naming.property($p...);
      #{$property}: #{$value};
    }
  }
}

// Include class
@mixin cls($name, $tokens, $selector: "") {
  @each $key, $value in $tokens {
    $item-selector: $selector;

    @if ($key != "") {
      $cls: naming.prefix($name, $key);
      $item-selector: $item-selector + "." + $cls;
    }

    @if ($item-selector != "") {
      #{$item-selector} {
        @include nested($value);
      }
    }
  }
}
