@use "../mixins";
@use "../functions/naming";
@use "../functions/color";
@use "../config";
@use "sass:map";

// modes
@mixin build() {
  @each $key, $value in config.$modes {
    $modeCls: naming.prefix("mode", $key);
  
    .#{$modeCls} {
      $colors: map.get($value, "colors");
      $layers: map.get($value, "layers");

      $palette: color.palette($colors);
      @include mixins.palette($palette);

      @each $layerKey, $layerValue in $layers {
        $layer: "." + naming.prefix("layer", $layerKey);

        // Property for shapes
        @if (map.has-key($layerValue, "shapes")) {
          $shapes: map.get($layerValue, "shapes");
          @include mixins.cls("shape", $shapes, $layer);
        }

        // Property for sizes
        @if (map.has-key($layerValue, "sizes")) {
          $sizes: map.get($layerValue, "sizes");
          @include mixins.cls("size", $sizes, $layer);
        }

        // Property for root
        @if (map.has-key($layerValue, "root")) {
          $root: map.get($layerValue, "root");
          @include mixins.cls("layer", (
            $layerKey: $root,
          ));
        }

        // Property for roles
        @if (map.has-key($layerValue, "roles")) {
          $roles: map.get($layerValue, "roles");
          @include mixins.cls("role", $roles, $layer);
        }
      }
    }
  }
}
